.divIndex{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: #010825;
    text-align: center;
    margin-top: 2.5%;
    margin-left: 10.35%;
    margin-right: 10.35%;
    border-radius: 30px;
    
}
.containerTitulo{
	background:#ffebee;
	height:100px;
	display:flex;
	justify-content:center;
	align-items:center;
}



#divseccion1imagen1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
#divseccion1video{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}
#divseccion1imagen2{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
#seccion1text1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
#seccion1text2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}
#seccion1text3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
}

.divseccion1texto{
    padding-left: 100px;
    padding-right: 100px;
}

#seccionIndex{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #010825;
    margin-top: 2.5%;
    margin-left: 10.35%;
    margin-right: 10.35%;
    text-align: center;
    border-radius: 30px;
}